<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Trang quản lý nhân viên</title>
 
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://hroy.eu/bootstrap/docs/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
                <h3 class="text-muted">SKYMAP</h3>
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="admin/login/">ADMIN</a>
                    </li>
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Trang quản lý nhân viên</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Đăng ký thành viên</a>
            </p>
        </div>
 
        <div class="row marketing">
        </div>
 
        <footer class="footer">
            <p>&copy;  2019</p>
        </footer>
 
    </div>
</body>
 
</html>